
  <div class="section section-nucleo-icons">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12">
            <h2 class="title">Les filieres de l'ensit ou bien criteres des etudiants de l'ensit comme creativité .....</h2>
            <h4 class="description">
              BLK• Design System PRO comes with 100 custom icons made by our
              friends from NucleoApp. The official package contains over 2.100
              thin icons which are looking great in combination with BLK• Design
              System PRO Make sure you check all of them and use those that you
              like the most.
            </h4>
          
          </div>
        </div>
        <div class="blur-hover">
          <a  [routerLink]="['/profile']" class="text-danger">
            <div class="icons-container blur-item on-screen mt-5">


              <i class="icon icon-sm"> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i class="icon icon-sm "> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i class="icon icon-sm "> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i class="icon icon-sm"> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i class="icon tim-icons"> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i > <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i class="icon tim-icons "> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>
              <i class="icon icon-sm tim-icons "> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i > <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i class="icon tim-icons"> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 120px;" /></i>

              <i> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

              <i class="icon tim-icons"> <img alt="Circle image" class="img-fluid rounded-circle shadow"
                  src="assets/img/james.jpg" style="width: 150px;" /></i>

            </div>
            <span class="blur-hidden h5 text-danger">
Lire plus des informations            </span>
          </a>
        </div>
      </div>
    </div>
<!--<div class="container">
    <div class="row justify-content-md-center">
      <div class="text-center col-md-12 col-lg-8">
        <h2 class="title">
         Traces
        </h2>
        <h4 class="description">
          Cause if you do, it can be yours for FREE. Hit the button below to
          navigate to Creative Tim where you can find the design system in
          HTML format. Start a new project or give an old Bootstrap project
          a new look!
        </h4>
      </div>
      <div class="text-center col-md-12 col-lg-8">
        <a class="btn btn-danger btn-round btn-lg"
          href="https://www.creative-tim.com/product/blk-design-system-angular" role="button">
          Download Angular
        </a>
      </div>
    </div>
    <br />

    <br />

    <br />

    <br />

    <br />

    <div class="row row-grid align-items-center my-md">
      <div class="col-lg-6">
        <h3 class="text-danger font-weight-light mb-2">
          Thank you for supporting us!
        </h3>
        <h4 class="mb-0 font-weight-light">
          Let's get in touch on any of these platforms.
        </h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a class="btn btn-icon btn-twitter btn-round btn-lg mr-1" id="twitter">
          <i class="fab fa-twitter"> </i>
        </a>
        <a class="btn btn-icon btn-facebook btn-round btn-lg mr-1" id="facebook">
          <i class="fab fa-facebook-square"> </i>
        </a>
        <a class="btn btn-icon btn-github btn-round btn-lg" href="https://github.com/creativetimofficial"
          target="_blank">
          <i class="fab fa-github"> </i>
        </a>
      </div>
    </div>
  </div>-->