
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h4 class="title">ENSIT• Insight Of ENSIT</h4>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" > 
                    Adresse : 13 Ave Taha Hussein, Tunis </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" > Téléphone : 71 399 525 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/profile']"> Contact  </a>
                  </li>
                
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
Media 1 : www.media1.com                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                    Media 2 : www.media2.com                
                  </a>
                </li>
               
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="title">Follow us:</h3>
              <div class="btn-wrapper profile">
                  <a
                  class="btn btn-icon btn-twitter btn-round mr-1"
                  href="https://twitter.com/creativetim"
                  target="_blank"
                >
                  <i class="fab fa-twitter"> </i>
                </a>
                <a
                  class="btn btn-icon btn-facebook btn-round mr-1"
                  href="https://www.facebook.com/creativetim"
                  target="_blank"
                >
                  <i class="fab fa-facebook-square"> </i>
                </a>
                <a
                  class="btn btn-icon btn-dribbble btn-round"
                  href="https://dribbble.com/creativetim"
                  target="_blank"
                >
                  <i class="fab fa-dribbble"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>