<h1 class="text-center text-white" >INSIGHT OF ENSIT 2019 </h1>

      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Bootstrap carousel</h1>
          <p class="text-white mt-4">
            Black Design comes with three pre-built pages to help you get
            started faster. You can change the text and images and you're
            good to go.
          </p>
          
          <button class="btn btn-info btn-round mr-1" type="button">
            Lire plus
          </button>
        </div>
        <div class="col-lg-6">
          <carousel [showIndicators]="false">
            <slide>
              <img
                alt="First slide"
                class="d-block w-100"
                src="assets/img/denys.jpg"
              />
            </slide>
            <slide>
              <img
                alt="Second slide"
                class="d-block w-100"
                src="assets/img/fabien-bazanegue.jpg"

              />
          
            </slide>
            <slide>
              <img
                alt="Third slide"
                class="d-block w-100"
                src="assets/img/mark-finn.jpg"
              />
            </slide>
          </carousel>
     