<div id="images" class="brand">
    <h1 class="mb-5 text-white" >Sponsors</h1>
    <div class="row">
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Image
        </small>
        <img
          alt="Rounded image"
          class="img-fluid rounded shadow"
          src="assets/img/ryan.jpg"
          style="width: 150px;"
        />
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Circle Image
        </small>
        <img
          alt="Circle image"
          class="img-fluid rounded-circle shadow"
          src="assets/img/james.jpg"
          style="width: 150px;"
        />
      </div>
      <div class="col-sm-3 col-6 mt-5 mt-sm-0">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Raised
        </small>
        <img
          alt="Raised image"
          class="img-fluid rounded shadow-lg"
          src="assets/img/lora.jpg"
          style="width: 150px;"

        />
      </div>
      <div class="col-sm-3 col-6 mt-5 mt-sm-0">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Circle Raised
        </small>
        <img
          alt="Raised circle image"
          class="img-fluid rounded-circle shadow-lg"
          src="assets/img/mike.jpg"
          style="width: 150px;"
        />
      </div>
    </div>
          <div class="space-50"></div>

    <div class="row">
        <div class="col-sm-3 col-6">
          <small class="d-block text-uppercase font-weight-bold mb-4">
            Image
          </small>
          <img
            alt="Rounded image"
            class="img-fluid rounded shadow"
            src="assets/img/ryan.jpg"
            style="width: 150px;"
          />
        </div>
        <div class="col-sm-3 col-6">
          <small class="d-block text-uppercase font-weight-bold mb-4">
            Circle Image
          </small>
          <img
            alt="Circle image"
            class="img-fluid rounded-circle shadow"
            src="assets/img/james.jpg"
            style="width: 150px;"
          />
        </div>
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <small class="d-block text-uppercase font-weight-bold mb-4">
            Raised
          </small>
          <img
            alt="Raised image"
            class="img-fluid rounded shadow-lg"
            src="assets/img/lora.jpg"
            style="width: 150px;"
          />
        </div>
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <small class="d-block text-uppercase font-weight-bold mb-4">
            Circle Raised
          </small>
          <img
            alt="Raised circle image"
            class="img-fluid rounded-circle shadow-lg"
            src="assets/img/mike.jpg"
            style="width: 150px;"
          />
        </div>
  </div>
  <div class="space-50"></div>

  <div class="text-center">
    <button class="btn btn-info btn-round mr-1"  type="button">
      Lire plus
    </button></div>