<link rel="stylesheet" type="text/css" href="assets/css/util.css">
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
<!--===============================================================================================-->


<div class="bg-img1  size1 flex-c-m  ">
	<div class="wsize1">
		<p class="txt-center p-b-23">
			<i class="zmdi zmdi-card-giftcard cl0 fs-60"></i>
		</p>
		<div class="space-50" ></div>
		<div class="space-50" ></div>
		<h3 id="ex" class="l1-txt1 txt-center p-b-22">
			Coming Soon
		</h3>
		<!--<div id="ex" *ngIf='1 != ex'>-->

		<p class="txt-center m2-txt1 p-b-67">
			

			Our website is under construction, follow us for update now!
			Our website is under construction, follow us for update now!

		</p>

		<div class="flex-w flex-sa-m cd100 bor1 p-t-42 p-b-22 p-l-50 p-r-50 respon1">
			<div class="flex-col-c-m wsize2 m-b-20">
				<span id="day" class="l1-txt2 p-b-4 days">{{days}}</span>
				<span class="m2-txt2">Days</span>
			</div>

			<span class="l1-txt2 p-b-22">:</span>

			<div class="flex-col-c-m wsize2 m-b-20">
				<span id="hour" class="l1-txt2 p-b-4 hours">{{hour}}</span>
				<span class="m2-txt2">Hours</span>
			</div>

			<span class="l1-txt2 p-b-22 respon2">:</span>

			<div class="flex-col-c-m wsize2 m-b-20">
				<span id="minute" class="l1-txt2 p-b-4 minutes">{{minute}}</span>
				<span class="m2-txt2">Minutes</span>
			</div>

			<span class="l1-txt2 p-b-22">:</span>

			<div class="flex-col-c-m wsize2 m-b-20">
				<span id="seconde" class="l1-txt2 p-b-4 seconds">{{seconds}}</span>
				<span class="m2-txt2">Seconds</span>
			</div>
		</div>

		<!--</div>-->
	</div>
</div>