<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" [routerLink]="['/home']">
        <span>ENSIT• </span> Insight of ENSIT
      </a>
      <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-10 collapse-brand"><a> <span>ENSIT• </span> Insight of ENSIT
            </a></div>
          <div class="col-2 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" href="https://twitter.com/CreativeTim" placement="bottom" target="_blank"
            tooltip="Follow us on Twitter">
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.facebook.com/CreativeTim" placement="bottom" target="_blank"
            tooltip="Like us on Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.instagram.com/CreativeTimOfficial" placement="bottom" target="_blank"
            tooltip="Follow us on Instagram">
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>

        <li class="nav-item p-0">
          <a class="nav-link" pageScroll href="#acceuil" placement="bottom" tooltip="Acceuil">
            <img class="d-lg-none d-xl-none" src="../../../assets/img/home-3-outline-16.png">
            <p>Acceuil</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" pageScroll href="#descF" placement="bottom" tooltip="Forum 2019">
            <img class="d-lg-none d-xl-none" src="../../../assets/img/badge-13-glyph-16.png">
            <p>Forum 2019</p>
          </a>
        </li>

        <li class="nav-item p-0">
          <a class="nav-link" pageScroll href="#sponsor" placement="bottom" tooltip=" Sponsors & Partenaires">
            <img class="d-lg-none d-xl-none" src="../../../assets/img/widget-outline-16.png">

            <p> Sponsors & Partenaires</p>
          </a>
        </li>

        <li class="nav-item p-0">
          <a class="nav-link" pageScroll href="#edition" placement="bottom" tooltip=" Anciens Éditions">
            <img class="d-lg-none d-xl-none" src="../../../assets/img/widget-outline-16.png">
            <p>Anciens Éditions</p>
          </a>
        </li>

        <li class="nav-item p-0">
          <a class="nav-link" pageScroll href="#temoignage" placement="bottom" tooltip="Temoignage">
            <img class="d-lg-none d-xl-none" src="../../../assets/img/widget-outline-16.png">
            <p>Témoignage</p>
          </a>
        </li>


        <li class="dropdown nav-item" dropdown>
          <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle
            href="javascript:void(0)">
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Inscription
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a class="dropdown-item"
            [routerLink]="['/registeretudiant']">
              <i class="tim-icons icon-paper"> </i> Etudiant
            </a>
      
            <a class="dropdown-item" [routerLink]="['/registeremploye']">
              <i class="tim-icons icon-image-02"> </i> Employés
            </a>
            <a class="dropdown-item" [routerLink]="['/registerentreprise']">
              <i class="tim-icons icon-single-02"> </i> Entreprise
            </a>
          </div>
        </li>


      </ul>
    </div>
  </div>
</nav>



<div class="wrapper" id="acceuil">
  <div class="page-header header-filter">
    <div class="squares square1"> </div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>

    <div class="container">
      <div class="brand">
        <app-countdown></app-countdown>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="space-50" id="descF"></div>
    <br>
    <app-home-forum></app-home-forum>

    <div class="space-50" id="sponsor"></div>
    <br>
    <app-home-sponsors></app-home-sponsors>

    <div class="space-50" id="edition"></div>
    <br>
    <app-home-ancien-edition></app-home-ancien-edition>
    <div class="space-50" id="temoignage"></div>
    <br>

    <app-landingpage></app-landingpage>
  </div>

</div>