<app-header></app-header>

<div class="wrapper">
  
  <section class="section">
    <div class="container">
      <div class="row">
             <!--  <div class="squares square1"> </div>
                <div class="squares square2"></div>
                <div class="squares square3"></div>
                <div class="squares square4"></div>
                <div class="squares square5"></div>
                <div class="squares square7"></div>--> 
        <div class="col-md-6">
            <h1 class="profile-title text-left">Contact</h1>
            <p class="text-on-back">ENSIT</p>
          <div class="card card-plain">
          
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Nom </label>
                      <input class="form-control" type="text"           
                                   placeholder="Nacim"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Adresse Email </label>
                      <input
                        class="form-control"
                        placeholder="nacim@email.com"
                        type="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Téléphone </label>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="001-12321345"

                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Fonction </label>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Etudiant"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Message </label>
                      <input
                        class="form-control" style="height: 200px;"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="submit"
                >
                  Send 
                </button>
              </form>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </section></div>