<div id="images" class="brand">
  <h1 class="mb-5 text-center text-white">Temoignage</h1>
  <div class="row">
    <div class="col-sm-3 col-6">
      <div>
        <img alt="Circle image" class="img-fluid rounded-circle shadow" src="assets/img/james.jpg"
          style="width: 150px;" />
        <h4 class="info-title">Low Commission</h4>
        <hr class="line-success" />

        <p>
          Divide details about your work into parts. Write a few lines
          about each one. A paragraph describing a feature will.
        </p>
      </div>
    </div>
    <div class="col-sm-3 col-6">
      <div>
        <img alt="Circle image" class="img-fluid rounded-circle shadow" src="assets/img/james.jpg"
          style="width: 150px;" />
        <h4 class="info-title">Low Commission</h4>
        <hr class="line-danger" />

        <p>
          Divide details about your work into parts. Write a few lines
          about each one. A paragraph describing a feature will.
        </p>
      </div>
    </div>

    <div class="col-sm-3 col-6">
        <div>
          <img alt="Circle image" class="img-fluid rounded-circle shadow" src="assets/img/james.jpg"
            style="width: 150px;" />
          <h4 class="info-title">Low Commission</h4>
          <hr class="line-warning" />
  
          <p>
            Divide details about your work into parts. Write a few lines
            about each one. A paragraph describing a feature will.       Divide details about your work into parts. Write a few lines
            about each one. A paragraph describing a feature will.       Divide details about your work into parts. Write a few lines
            about each one. A paragraph describing a feature will.       Divide details about your work into parts. Write a few lines
            about each one. A paragraph describing a feature will.
          </p>
        </div>
      </div>
      <div class="col-sm-3 col-6">
          <div>
            <img alt="Circle image" class="img-fluid rounded-circle shadow" src="assets/img/james.jpg"
              style="width: 150px;" />
            <h4 class="info-title">Low Commission</h4>
            <hr class="line-info" />
    
            <p>
              Divide details about your work into parts. Write a few lines
              about each one. A paragraph describing a feature will.
              Divide details about your work into parts. Write a few lines
              about each one. A paragraph describing a feature will.       Divide details about your work into parts. Write a few lines
              about each one. A paragraph describing a feature will.
            </p>
          </div>
        </div>
  </div>




</div>