<div class="container">
    <div class="brand">

      <h1 class="text-center">Anciennes éditions</h1>
    </div>
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-12">
        <carousel [showIndicators]="false">
          <slide>
            <img alt="First slide" class="d-block w-100" src="assets/img/denys.jpg" style="height:400px;" />
            <div class="carousel-caption d-none d-md-block ">
              <h1 class="text-white" >Bootstrap carousel</h1>
              <p class="text-white h1-seo" style="font-size: 25px;">
                Black Design comes with three pre-built pages to help you get
                started faster. You can change the text and images and you're
                good to go.
              </p>
            </div>
          </slide>
          <slide>
            <img alt="Second slide" class="d-block w-100" src="assets/img/fabien-bazanegue.jpg" style="height:400px;" />
            <div class="carousel-caption d-none d-md-block ">
                <h1 class="text-white" style="font-size:50px;">Bootstrap carousel</h1>
                <p class="text-white h1-seo" style="font-size: 25px;">
                  Black Design comes with three pre-built pages to help you get
                  started faster. You can change the text and images and you're
                  good to go.
                </p>
              </div>
          </slide>
          <slide>
            <img alt="Third slide" class="d-block w-100" src="assets/img/mark-finn.jpg" style="height:400px;" />
            <div class="carousel-caption d-none d-md-block ">
                <h1 class="text-white" style="font-size:50px;">Bootstrap carousel</h1>
                <p class="text-white h1-seo" style="font-size: 25px;">
                  Black Design comes with three pre-built pages to help you get
                  started faster. You can change the text and images and you're
                  good to go.
                </p>
              </div>
          </slide>
        </carousel>
      </div>
    </div>
